@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<label3>
    <p>Ola! </p>
    <p>Sou um iniciante na area. Este é o meu primeiro projeto de CRUD que 
    ainda necessita de uns ajustes.</p>
    <p>Let's go!</p>
</label3>



