@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Solutions TI <input type="image" id="image" alt="slogan" src="~/img2.png"></h2>
 </div>

 <p></p>

<div>
     <label2 for="Solutions TI">We bring to your company, solutions in sales management and autonomy.</label2>

</div>

<div2 >
    <input type="image" alt="imagen" src="~/img3.jpg"/>
    
</div2>





