html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label2 {
    font-size: 2rem;
}

label3 {
    font-size: 1rem;
}


input[type='image'] {
    width: 80px;
}
div2
input[type='image'] {
    height: 400px;
    width: 1000px;
}